<div class="mobile-menu hidden w-full h-full bg-white fixed top-0 left-0" style="z-index: 999; background: #ffffff">
    <div class="w-full h-full flex flex-col">
        <div class="mobile-menu__close py-4 px-3">
            <svg class="w-10 md:w-16 ml-auto block hover:opacity-75" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                <path
                        d="M7.21875 5.78125L5.78125 7.21875L14.5625 16L5.78125 24.78125L7.21875 26.21875L16 17.4375L24.78125 26.21875L26.21875 24.78125L17.4375 16L26.21875 7.21875L24.78125 5.78125L16 14.5625Z"
                        fill="#5B5B5B"/>
            </svg>
        </div>
        <div class="overflow-y-scroll flex-grow h-16 px-4">
            <ul class="flex flex-col items-end pb-4">
                <li>
                    <a href="service.html" class="text-2xl font-bold block py-2">
                        Сервисный центр
                    </a>
                </li>
                <li>
                    <a href="charge" class="text-2xl font-bold block py-2">
                        Зарядка
                    </a>
                </li>
                <li>
                    <a href="tune" class="text-2xl font-bold block py-2">
                        Тюнинг
                    </a>
                </li>
                <li>
                    <a href="blog" class="text-2xl font-bold block py-2">
                        Блог
                    </a>
                </li>
                <li>
                    <a href="contacts" class="text-2xl font-bold block py-2">
                        Контакты
                    </a>
                </li>
                <li>
                    <a href="#" class="text-2xl font-bold block py-2">
                        Купить запчасти
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>